services:
  - type: web
    name: dialdesk-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGODB_URI
        fromDatabase:
          name: dialdesk-mongodb
          property: connectionString
      - key: JWT_SECRET
        generateValue: true
      - key: AWS_ACCESS_KEY_ID
        sync: false
      - key: AWS_SECRET_ACCESS_KEY
        sync: false
      - key: AWS_REGION
        value: eu-north-1
      - key: S3_BUCKET_NAME
        value: bialdesk

databases:
  - name: dialdesk-mongodb
    plan: free
    databaseName: dialdesk
